:root {
  --clr-one: hsl(263, 55%, 52%); /*Moderate violet*/
  --clr-two: hsl(217, 19%, 35%); /*Very dark grayish blue*/
  --clr-three: hsl(219, 29%, 14%); /*Very dark blackish blue*/
  --clr-four: hsl(0, 0%, 100%); /*White*/
  --clr-five: hsl(264, 82%, 70%); /*Light purple*/

  --clr-neutral-one: hsl(0, 0%, 81%); /*Light gray*/
  --clr-neutral-two: hsl(210, 46%, 95%); /*Light grayish blue*/
  --clr-neutral-three: hsl(0, 0%, 100%);

  --fs-11: 0.688rem;
  --fs-13: 0.813rem;
  --fs-20: 1.25rem;

  --ff: "Barlow Semi Condensed";

  --max-width-mobile: 20.438rem;
  --max-width-tablet: 40rem;
  --max-width-desktop: 69.375rem;
}

@font-face {
  font-display: swap;
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500; /*Medium*/
  src: url("./fonts/barlow-semi-condensed-v15-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 600; /*SemiBold*/
  src: url("./fonts/barlow-semi-condensed-v15-latin-600.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-size: var(--fs-13);
  font-weight: 500;
  line-height: 1.384; /* 18 / 13 = 1.384 figma file */
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-weight: normal;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: Barlow Semi Condensed;
  font-weight: 500;
  max-width: var(--max-width-mobile);
  min-height: 100svh;
  margin: 4.438rem auto;
  background-color: var(--clr-neutral-two);
}

.blog {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--clr-neutral-three);
}

.blog__article {
  padding: 2rem;
  background-color: gray;
  border-radius: 8px;
}

.blog__header {
  display: flex;
  flex-direction: row;
}

.blog__name-verified {
  margin-left: 0.938rem;
  line-height: 1;
}

.blog__name {
  font-size: var(--fs-13);
  margin-bottom: 0.25rem;
}

.blog__verified {
  opacity: 50%;
  font-size: var(--fs-11);
}

.blog__img {
  border-radius: 50%;
}

.blog__title {
  margin-top: 1.125rem;
  font-family: var(--ff);
  font-weight: 700;
  font-size: var(--fs-20);
  line-height: 1.2;
}

.blog__text {
  margin-top: 1rem;
  font-size: var(--fs-13);
  font-weight: 500;
  opacity: 70%;
}

.blog__article:nth-child(1) .blog__img,
.blog__article:nth-child(4) .blog__img {
  border: solid 2px var(--clr-five);
}

.blog__article:nth-child(1) .blog__title {
  margin-bottom: 2.5rem;
}

.blog__article:nth-child(1) .blog__text {
  color: var(--clr-neutral-one);
}

.blog__article:nth-child(1) {
  background-color: var(--clr-one);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 89% 0%;
}

.blog__article:nth-child(2) {
  background-color: var(--clr-two);
}

.blog__article:nth-child(2) .blog__text {
  max-width: 16.438rem;
}

.blog__article:nth-child(3),
.blog__article:nth-child(5) {
  background-color: var(--clr-four);
  color: var(--clr-two);
}

.blog__article:nth-child(4) {
  background-color: var(--clr-three);
}

.attribution {
  display: flex;
  justify-content: center;
  font-size: var(--fs-13);
  color: var(--clr-two);
  margin-top: 0.313rem;
}
.attribution a {
  margin-left: 0.188rem;
}

@media only screen and (min-width: 30rem) {
  body {
    max-width: var(--max-width-tablet);
    align-content: center;
  }

  .blog {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
  }

  .blog__article:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .blog__article:nth-child(2) {
    grid-column: 3/5;
    grid-row: 1/2;
  }

  .blog__article:nth-child(3) {
    grid-column: 3/5;
    grid-row: 2/3;
  }
  .blog__article:nth-child(4) {
    grid-column: 3/5;
    grid-row: 3/5;
  }
  .blog__article:nth-child(5) {
    grid-column: 1/3;
    grid-row: 3/5;
  }
}

@media only screen and (min-width: 66.563rem) {
  body {
    max-width: var(--max-width-desktop);
  }

  .blog {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 17.75rem 16.625rem;
    row-gap: 1.5rem;
    column-gap: 1.875rem;
  }

  .blog__article:nth-child(1) {
    grid-column: 1/5;
    grid-row: 1/2;
  }

  .blog__article:nth-child(1) .blog__title {
    margin-bottom: 1rem;
  }

  .blog__article:nth-child(2) {
    grid-column: 5/7;
    grid-row: 1/2;
  }

  .blog__article:nth-child(3) {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .blog__article:nth-child(4) {
    grid-column: 3/7;
    grid-row: 2/3;
  }
  .blog__article:nth-child(5) {
    grid-column: 7/9;
    grid-row: 1/3;
  }

  .blog__article:nth-child(1) {
    background-position: 82% 0%;
  }

  .blog__article:nth-child(3),
  .blog__article:nth-child(4),
  .blog__article:nth-child(5) {
    padding: 1.625rem 2rem;
  }

  .blog__article:nth-child(1) .blog__text,
  .blog__article:nth-child(2) .blog__text {
    margin-top: 1rem;
  }

  .blog__article:nth-child(3) .blog__text,
  .blog__article:nth-child(4) .blog__text,
  .blog__article:nth-child(5) .blog__text {
    margin-top: 1.5rem;
  }
}
